{% extends 'base.html' %}


{% block page_name %}
    Rooms
{% endblock %}

{% block content %}

    {% for room in rooms.object_list %}
        <h1>{{room.name}} / ${{room.price}}</h1>
    {% endfor %}

    <h5>
    {% if rooms.has_previous %}
        <a href="?page={{rooms.number|add:-1}}">←</a>
    {% endif %}
        Page {{rooms.number}}
    {% if rooms.has_next %}
        <a href="?page={{rooms.number|add:1}}">→</a>
    {% endif %}
         of {{rooms.paginator.num_pages}}
    </h5>

    {% for page in rooms.paginator.page_range  %}
        <a href="?page={{page}}">{{page}}</a>
    {% endfor %}

{% endblock %}
